@media only screen and (max-width: 600px) {
	.content /*the whole thing having contents*/
{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 75px;
    height: 510px; /*510px*/
    width: 420px;
    border-radius: 15px;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;

}


.heading
{
    
    position: relative;
    height: 30px;
    top: 10px;
    width: 385px;
    border-top-left-radius: 15px;
    border-radius: 5px;
    left: 1%;
    display: flex;
    z-index: 0;
    justify-content: left;
    align-items: center;
    font-weight: 700;
    background: #222;
}
.heading_notes /*contains heading content*/
{
    color: #b6b6b6;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: ''; /*later*/
    padding-left: 15px;
    padding-bottom: 5px;
    font-family: 'Reenie Beanie';
    
}


.content_holding
{
    position: relative;
    height: 180px;
    width: 100%;
    background-color: transparent;
    transition: 0.5s;
}

.content_holding.active
{
    position: relative;
    height: 200px;
    width: 100%;
    background-color: transparent;
    transition: 0.5s;
    z-index: 250;
}


.dword_count
{
    position: absolute;
    top: 75%;
    left: 39%;
    color: #fff;
    width: auto;
    max-width: 40px;
    float: right;
    margin-right: 15px;
    overflow: hidden;
    /* background-color: #00d13f; */


}
.dword_count.active
{
    position: absolute;
    top: 75%;
    left: 39%;
    color: #fff;
    width: auto;
    max-width: 40px;
    float: right;
    margin-right: 15px;
    overflow: hidden;
    /* background-color: #00d13f; */
    animation: wobble 1s linear infinite;
    animation-play-state: running;

}
.sword_count
{
    position: absolute;
    top: 75%;
    left: 50%;
    color: #fff;
    width: auto;
    margin-left: 0px;
}

@keyframes wobble {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-5deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-3deg); } 
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); } 
 } 




.expand_content
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 90%;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}

.expand_content.active
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 90%;
    font-size: 20px;
    color: #00ff55;
    transition: 0.5s;
    transform: rotate(-180deg);
}






.edit_message
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 92%;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;

}
.edit_message.active
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 92%;
    font-size: 20px;
    color: #00ff37;
    transition: 0.5s;
}


.delete_message
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 88%;
    font-size: 20px;
    color: #ffffff;
  
    transition: 0.5s;
}

.messsage_timing
{
    position: absolute;
    top: 5px;
    z-index: 150;
    pointer-events: none;
    left: 60%;
    font-size: 10px;
    color: #ffffff;
    transition: 0.5s;
}




.content_notes::-webkit-scrollbar
{
    background-color: transparent;
    
}
.content_notes /*the one which has the content in it*/
{
    color: #D1D5DB;
    height: 120px;
    width: 360px;
    left: 1%;
    position: relative;
    overflow-y: auto;
    overflow-x: none;
    justify-content: center;
    text-align: justify;
    background-color: transparent;
    transition: 0.5s;
    z-index: 100;

}
.content_notes.active /*the one which has the content in it*/
{
    color: #D1D5DB;
    height: 450px;
    width: 360px;
    left: 1%;
    position: relative;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: none;
    justify-content: center;
    text-align: justify;
    transition: 0.5s;
    z-index: 140;

    
}
.content_info /*main container of content*/
{
    position: relative;
    height: 150px;
    top: -10px;
    left: 5px;
    width: 374px;
    margin-top: 12px;
    background-color: #3f3f3fa1;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: -5px;
    font-family: 'Reenie Beanie';
    font-size: 25px;
    transition: 0.5s;
    z-index: 100;
    
}

.content_info.active /*main container of content*/
{
    position: relative;
    height: 490px;
    top: -10px;
    left: 5px;
    width: 374px;
    margin-top: 12px;
    background: #1a1a1a5e;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: -5px;
    font-family: 'Reenie Beanie';
    font-size: 25px;
    transition: 0.5s;
    z-index: 140;
    overflow: hidden;
   
}

/* ===============================================NAVBAR==================================================================== */
.navbar
{
    position: absolute;
    top: 0%;
    left: 1%;
    width: 98%;
    display: block;
    background: #0f0f0f;
    left: 0.25%;
    height: 58px; /*58*/
    border-radius: 5px;
}
.navbar ion-icon
{
    position: relative;
    top: 12px;
    left: 15px;
    cursor: pointer;
    width: 50px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #e4e4e4;
    transition: 0.25s;
    z-index: 250; /*to be kept more than the z-index of .content_holding*/
}

.filter_self.active 
{
    color: #00ff4c;
    transition: 0.25s;
}

.fade_ico_on

{
    position: absolute;
    top: 20px;
    left: 78%;
    color: #00ff55;
    transition: 0.5s;
}

.autoSave
{
    position: absolute;
    color: #00d13f;
    left: 85%;
    top: 20px;
    cursor: pointer;
    pointer-events:  none;
    transition: 0.25s;
    z-index: 10;
   
}
.autoSave.active
{
    position: absolute;
    color: #ffffff;
    left: 85%;
    top: 20px;
    cursor: pointer;
    pointer-events:  none;
    transition: 0.25s;
    z-index: 10;
}

/* ==================================================CONTENT============================================= */

.edit_message
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 20%;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;

}
.edit_message.active
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 20%;
    font-size: 20px;
    color: #00ff37;
    transition: 0.5s;
}

.expand_message
{
    position: absolute;
    font-size: 30px;
    z-index: 150;
    cursor: pointer;
    left: 91%;
    top: 30px;
    color: #fff;
    transform: rotate(-180deg);
    transition: 0.5s;
}
.expand_message.active
{
    position: absolute;
    font-size: 30px;
    z-index: 150;
    cursor: pointer;
    left: 91%;
    top: 30px;
    color: #00d13f;
    transform: rotate(0deg);
    transition: 0.5s;
}
.expand_message.error
{
    position: absolute;

    font-size: 30px;
    z-index: 150;
    cursor: pointer;
    left: 91%;
    top: 30px;
    color: #00d13f;
    transform: rotate(0deg);
    transition: 0.5s;
}


.delete_message
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 83%;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s;
}


.expand_content
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}

.expand_content.active
{
    position: absolute;
    top: 40px;
    z-index: 150;
    cursor: pointer;
    left: 50%;
    font-size: 20px;
    color: #00ff55;
    transition: 0.5s;
    transform: rotate(-180deg);
}

/* ======================================MESSAGE TEXTBOX============================================== */


.textbox
{
    position: absolute;
    height: 60px;
    width: 98%;
    left: 1%;
    background-color: transparent;
    top: 88%; /*108*/
    transition: 0.5s;
    border-radius: 10px;
   float: inline-end;
}

#send
{
    position: absolute;
    left: 91%;
    top: 9px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: 0.25s;
}

.send.active
{
    position: absolute;
    left: 91%;
    top: 9px;
    color: #ff0000;
    font-size: 24px;
    cursor: pointer;
    transition: 0.25s;
    animation: wobble 1s linear infinite;
    animation-play-state: running;
}


.message::placeholder
{
    padding-top: 0;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #00ff4cd8;
    vertical-align: center;
    letter-spacing: 5px;
    font-family: 'VT323', monospace;
    font-weight: 100;
}
.message
{
    position: absolute;
    top: 0px; /*0px*//*-102px*/
    width: 88%;
    background: #24242431; /*#24242431*/ 
    outline: none;
    border: none;
    backdrop-filter: blur(5px);
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 700;
    display:inline-block;
    font-family: 'Prompt', sans-serif;
    line-height: normal;
    transition: 0.25s;
    text-indent: 2% each-line;
    resize: none;
    height: 55px; /* Set an initial height for the textarea */
    max-height: 154px;
    z-index: 1000;
    
    
}
.message.active
{
    position: absolute;
    top: -550px; /*0px*/
    width: 88%;
    background-color: #24242431; /*#222*/
    outline: none;
    border: none;
    backdrop-filter: blur(5px);
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    letter-spacing: 3px;
    font-weight: 700;
    flex-direction: column-reverse;
    font-family: 'Prompt', sans-serif;
    line-height: normal;
    transition: 0.25s;
    text-indent: 2% each-line;
    resize: none;
    height: 600px; /* Set an initial height for the textarea */
    max-height: 600px;
    z-index: 1000;
    
    
}
.declare
{
    position: fixed;
    top: 5%; /*5*/
    z-index: 10;
    left: 4%;
    width: 95%;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    pointer-events: none;
}


.cancel_edit
{
    position: absolute;
    left: 50%;
    top: -685px; /*-585px*/
    color: #ff0000;
    font-size: 30px;
    text-shadow: 0 0 20px red;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
    
}


.cancel_edit.active
{
    position: absolute;
    left: 50%;
    top: -585px;
    color: #ff0000;
    font-size: 30px;
    text-shadow: 0 0 20px red;
    cursor: pointer;
    transition: 0.5s;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40%;
    top: 40%;
    transform: scale(2.5) ;
  }

  .lds-roller {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: -375px;/*-405*/
    width: 5px;
    transform: scale(.4);
    height: 5px;
    display: none;
    z-index: 10;
  }

}